body {
  background-color: #111111;
  max-width: 87.5rem;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: #fff;
  font-family: Righteous;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
body {
  margin-top: 4rem;
}
.Sepideh {
  color: #e55b3c;
}
.navbar {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}
.hero-text {
  color: #fff;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  text-transform: capitalize;
}
nav ul li a {
  color: #fff;
  font-family: Righteous;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  text-decoration: none;
}
.hero menu {
  display: flex;
  gap: 0.625rem;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
}

.logo img {
  height: 2.875rem;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 1.25rem;
}
.hero-content {
  margin-left: 7.5rem;
  margin-right: 1rem;
  margin-top: 7.5rem;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0.625rem 1.25rem;
}

.hero-text {
  direction: rtl;
  margin-bottom: 2rem;
}
.about {
  width: 50%;
  margin-right: 4rem;
}
.hero-vector {
  margin: 0;
  padding: 0;
}
.hero-vector {
  margin-right: 1.5rem;
  padding-top: 6.25rem;
}
.oranges {
  margin-top: 1.5rem;
}
.scroll {
  display: flex;
  justify-content: center;
}

.multidicip {
  background-image: url(Images/bg.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 9.375rem 0 3.125rem;
}
.multidicip {
  display: flex;
  margin-top: -3.125rem;
  justify-content: space-evenly;
}
.multitext1 {
  font-family: Righteous;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
  padding-left: 4.375rem;
}
.multitext2 {
  font-family: Righteous;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
}
.multitext3 {
  font-family: Righteous;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
  margin-left: 15.625rem;
}
.multip {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  text-transform: capitalize;
}
.multi2c {
  display: inline;
}
.oranges2 {
  display: flex;
  justify-content: center;
}
.multip {
  margin-left: -5.625rem;
  width: 20rem;
  margin-top: -4.0625rem;
}
.oranges2 {
  margin-top: 1.125rem;
  margin-left: 4rem;
}
.architecture {
  color: #e55b3c;
}
.roots {
  color: #fff;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 275;
  direction: rtl;
  margin-top: -1.875rem;
}
.multifirst {
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.motiontag {
  color: #303030;
  font-size: 1.25rem;
  font-family: Poppins;
  font-weight: 900;
  text-transform: capitalize;
}

.multicenter {
  margin-bottom: -3.75rem;
}

.mtag {
  background-color: #000000;
  padding: 0 0.5rem 0 0.5rem;
  transform: rotate(-16deg);
}
.motiontag:hover .mtag {
  color: #e55b3c;
}
.uitag {
  color: #303030;
  font-size: 1.25rem;
  font-family: Poppins;
  font-weight: 900;
  text-transform: capitalize;
}
.uitag:hover .utag {
  color: #e55b3c;
}
.uxtag {
  color: #303030;
  font-size: 1.25rem;
  font-family: Poppins;
  font-weight: 900;
  text-transform: capitalize;
}
.uxtag:hover .xtag {
  color: #e55b3c;
}
.utag {
  background-color: #000000;
  padding: 0 0.5rem 0 0.5rem;
  transform: rotate(10deg);
}
.xtag {
  background-color: #000000;
  padding: 0 0.5rem 0 0.5rem;
  transform: rotate(22deg);
}

.intertag {
  background-color: #000000;
  padding: 0 0.5rem 0 0.5rem;
  transform: rotate(-6deg);
}
.brandtag {
  color: #303030;
  font-size: 1.25rem;
  font-family: Poppins;
  font-weight: 900;
  text-transform: capitalize;
}
.brandtag:hover .btag {
  color: #e55b3c;
}
.itag {
  color: #303030;
  font-size: 1.25rem;
  font-family: Poppins;
  font-weight: 900;
  text-transform: capitalize;
}
.itag:hover .intertag {
  color: #e55b3c;
}
.webtag {
  color: #303030;
  font-size: 1.25rem;
  font-family: Poppins;
  font-weight: 900;
  text-transform: capitalize;
}
.webtag:hover .wtag {
  color: #e55b3c;
}
.btag {
  background-color: #000000;
  padding: 0 0.5rem 0 0.5rem;
  transform: rotate(-15deg);
}
.wtag {
  background-color: #000000;
  padding: 0 0.5rem 0 0.5rem;
  transform: rotate(7deg);
}
.multithird {
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.featured {
  display: flex;
  flex-direction: row;
  margin-left: 7.5rem;
  padding-top: 12.5rem;
  margin-bottom: 4rem;
}
.section-name {
  color: white;
  font-size: 3rem;
  font-family: Righteous;
  font-weight: 400;
  text-transform: capitalize;
}
.oranges3 {
  margin-right: 2rem;
}
.impact {
  color: white;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.myphotoparent {
  position: relative;
}
.stargray {
  position: absolute;
  left: 10.75rem;
  top: 10.75rem;
  z-index: 1;
  display: block;
  max-width: 100%;
}
.top-image {
  z-index: 100;
  position: relative;
  display: block;
  max-width: 100%;
}
.whitev {
  position: absolute;
  left: 16.6875rem;
  top: -1.0625rem;
  z-index: 0;
  display: block;
  max-width: 100%;
}
.stargray {
  animation: rotate-loop 25s linear infinite;
}
@keyframes rotate-loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.project {
  margin: 0 auto;
}
.project-container {
  border: solid 0.0625rem #fff;
  margin-top: 4rem;
  margin-bottom: 1rem;
  border-radius: 0 18.75rem 18.75rem 0;
  max-width: 70rem;
  margin: 0 auto;
}
.project-content {
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem 3rem 4.5rem;
}
.project-details {
  display: flex;
  align-items: center;
  position: relative;
}
.project-title {
  color: white;
  font-size: 2.0069rem;
  font-family: Poppins;
  font-weight: 600;
}
.project-date {
  color: white;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 300;
}
.project-role {
  color: white;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 300;
}
.project-button {
  color: #111111;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 600;
  text-decoration: underline;
}
.project-description {
  color: #fff;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 3rem;
}
.project-subtitle {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.project-thumbnail {
  margin: 1.5rem;
  border-radius: 0 11.25rem 11.25rem 0;
}

.view-project-button {
  width: 15rem;
  height: 4rem;
  background-color: #fff;
  color: #111111;
  padding: 1.5rem 3rem;
  border-radius: 0 3rem 3rem 0;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 3rem;
  margin-bottom: -6rem;
  position: absolute;
  top: 17.3125rem;
}
.project-container-1 {
  border: solid 0.0625rem #fff;
  margin-top: 4rem;
  margin-bottom: 1rem;
  border-radius: 18.75rem 0 0 18.75rem;
  max-width: 70rem;
  margin: 5rem auto;
}
.project-content-1 {
  display: flex;
  align-items: center;
}
.project-thumbnail-1 {
  margin: 1.5rem;
  border-radius: 11.25rem 0 0 11.25rem;
}
.view-project-button-1 {
  width: 15rem;
  height: 4rem;
  background-color: #fff;
  color: #111111;
  padding: 1.5rem 3rem;
  border-radius: 0 3rem 3rem 0;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 3rem;
  margin-bottom: -6rem;
  position: absolute;
  top: 17.3125rem;
  right: 4.5rem;
}
.project-col-2a {
  padding: 0rem 4.5rem 0rem 3.5rem;
}
.stargray2div {
  position: relative;
  margin-bottom: 18rem;
}
.stargray2 {
  position: absolute;
  left: 3.75rem;
  top: -13.25rem;
  z-index: -1;
}
.stargray2 {
  animation: rotate-loop 25s linear infinite;
}
@keyframes rotate-loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.project-container {
  background-color: #111111;
}
.tools {
  background-image: url(Images/bg\ -flip.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 23rem 0 3.125rem;
}
.tools-title {
  display: grid;
  place-items: center;
  margin: -19.375rem auto 2.8125rem;
  padding-bottom: 3.125rem;
}
.white-softwares {
  display: flex;
  justify-content: center;
  gap: 5.125rem;
}
.black-softwares {
  display: flex;
  justify-content: center;
  gap: 5.125rem;
}
.rest-of-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}
.oranges4 {
  margin-bottom: -2rem;
  margin-right: -3.125rem;
}
.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 7.5rem;
  margin-top: 8rem;
}
.social-contact {
  display: flex;
  margin-left: 7.5rem;
  gap: 13.75rem;
  bottom: 25rem;
}
.social {
  display: flex;
}
.social-content {
  display: flex;
  gap: 1rem;
}
.social-media {
  color: white;
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
}
.social-media-information {
  color: white;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 400;
}
.contact-line {
  color: white;
  font-size: 4rem;
  font-family: Righteous;
  font-weight: 400;
  bottom: 20rem;
  margin-left: 7.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.site-footer {
  background-color: #000000;
  padding: 1.25rem;
  color: white;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 400;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.75rem 7.5rem;
}
.contact-section {
  background-image: url(Images/contact\ vector.svg);
  background-repeat: no-repeat;
}
.contact-title {
  margin-bottom: 3.125rem;
}
/*.btn {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 14rem;
  right: 3rem;
  margin-top: -5rem;
}
.back-to-top {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
  align-items: flex-end;
}*/

.project-container {
  opacity: 0;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.project-container-1 {
  opacity: 0;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
#project-1 {
  animation-name: slide-in-left;
  animation-delay: 2s;
}

#project-2 {
  animation-name: slide-in-right;
  animation-delay: 2.3s;
}

#project-3 {
  animation-name: slide-in-left;
  animation-delay: 2.6s;
}
/* Pulsing effect */
.social-content img {
  display: inline-block;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@media (max-width: 30rem) {
  .navbar {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  nav ul li a {
    font-size: 1rem;
  }
  .menu {
    flex-direction: column;
    gap: 1rem;
  }
  .logo img {
    height: 2rem;
  }
  .hero-content {
    padding: 1rem;
    gap: 3rem;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .hero-vector {
    display: none;
  }

  .about h1 {
    font-size: 1.8rem;
    text-align: left;
  }
  .about {
    width: 100%;
  }
  .hero-text {
    text-align: right;
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
  .oranges {
    display: flex;
    margin-top: 2.5rem;
  }

  .top-image {
    max-width: 12rem;
    left: 2rem;
  }
  .stargray {
    left: 6.75rem;
    top: 5.75rem;
  }
  .whitev {
    left: 8rem;
    top: -1rem;
    max-width: 57%;
  }
  .scroll {
    margin-top: 5rem;
  }
  .multidicip {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-size: 195%;
  }
  .multitext1,
  .multitext2,
  .multitext3 {
    font-size: 1.8rem;
    -webkit-text-stroke: 0.05rem rgb(255, 255, 255);
  }
  .multitext1 {
    padding-left: 5rem;
  }
  .multitext2 {
    padding-left: 1rem;
  }
  .multitext3 {
    margin-left: 5rem;
  }
  .roots,
  .multip {
    display: none;
  }

  .oranges2 {
    margin-left: 0;
  }
  .multifirst {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .multithird {
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    align-items: center;
  }
  .btag,
  .xtag,
  .utag,
  .mtag,
  .intertag,
  .wtag {
    transform: rotate(0deg);
  }

  .featured {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding-top: 7.5rem;
    align-items: center;
    margin-bottom: 3rem;
  }
  .section-name {
    font-size: 1.9rem;
  }
  .project {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .project-container,
  .project-container-1 {
    border-radius: 0;
  }
  .project-content {
    padding: 2rem;
  }
  .project-details {
    flex-direction: column;
  }
  .project-content-1 {
    flex-direction: column;
  }
  .project-title {
    font-size: 1.5rem;
  }
  .project-description {
    margin-top: 1.5rem;
    font-size: 1rem;
  }
  .view-project-button {
    width: 9rem;
    height: 3rem;
    top: 28rem;
    padding: 0.5rem 1rem;
  }
  .view-project-button-1 {
    top: 27rem;
    right: 1.5rem;
    width: 9rem;
    height: 3rem;
    padding: 0.5rem 1rem;
  }
  .project-thumbnail,
  .project-thumbnail-1 {
    margin: 0;
    border-radius: 0;
    max-width: 16rem;
  }
  .project-col-1a {
    order: 2;
  }

  .project-col-2a {
    order: 1;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
  }
  .view-project-button-1 {
    top: 27rem;
    right: 2.5rem;
  }
  .stargray2 {
    left: 1.75rem;
    top: -3.25rem;
    width: 40%;
  }
  .stargray2div {
    margin-bottom: 12rem;
  }
  #htmlcsslan {
    width: 16%;
  }
  .rest-of-tools {
    gap: 1rem;
    margin-top: 2rem;
  }
  .tools {
    background-size: 195%;
    background-position: top;
    padding: 20rem 2.5rem 3.125rem;
  }
  .white-softwares,
  .black-softwares {
    gap: 1rem;
  }
  #miro,
  #chatgpt,
  #notion,
  #photoshop,
  #aftereffect,
  #illustrator,
  #figma,
  #github,
  #wordpress {
    width: 16%;
  }
  .contact-section {
    margin-top: 4rem;
    padding-top: 3rem;
    margin-right: 0;
    background-size: 93%;
  }
  .contact-title {
    display: none;
  }
  .social-contact {
    gap: 1rem;
    margin-left: 2.5rem;
  }
  .social-media {
    font-size: 1rem;
  }
  .social-media-information {
    font-size: 0.8rem;
  }
  .contact-line {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 2.5rem;
    padding-bottom: 2.5rem;
    margin-top: 2rem;
  }
  .designed-by,
  .copyright-text {
    font-size: 0.8rem;
  }
  .site-footer {
    padding: 1.25rem 0;
    margin: 0;
  }
  .footer-container {
    flex-direction: column;
    margin: 0;
    gap: 1rem;
  }
}
@media (max-width: 48rem) and (min-width: 30.0625rem) {
  .main {
    margin: 0 auto;
  }
  .navbar {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .hero-content {
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .hero-vector {
    display: none;
  }

  .about h1 {
    font-size: 2.5rem;
    text-align: left;
  }
  .about {
    width: 100%;
  }
  .hero-text {
    text-align: right;
    margin-bottom: 3rem;
  }
  .oranges {
    display: flex;
    margin-top: 2.5rem;
  }

  .top-image {
    max-width: 16.5rem;
    left: 11rem;
  }
  .stargray {
    left: 17.75rem;
    top: 7.75rem;
  }
  .whitev {
    left: 19.6875rem;
    top: -1.0625rem;
    max-width: 65%;
  }
  .scroll {
    margin-top: 5rem;
  }
  .multidicip {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-size: 120%;
  }
  .multitext1 {
    font-size: 2.125rem;
    -webkit-text-stroke: 0.05rem rgb(255, 255, 255);
    padding-left: 10rem;
  }
  .multitext2 {
    padding-left: 6rem;
    font-size: 2.125rem;
    -webkit-text-stroke: 0.05rem rgb(255, 255, 255);
  }
  .multitext3 {
    font-size: 2.125rem;
    -webkit-text-stroke: 0.05rem rgb(255, 255, 255);
  }
  .roots {
    margin-right: -4rem;
    padding-bottom: 1rem;
  }
  .multip {
    margin-left: -3rem;
    width: 15rem;
    margin-top: -3rem;
  }
  .oranges2 {
    margin-left: 0;
  }
  .multifirst {
    flex-direction: row;
    gap: 4rem;
  }
  .multithird {
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
  }
  .featured {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding-top: 9.5rem;
  }
  .project {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .project-content {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
  }
  .project-title {
    font-size: 1.5rem;
  }
  .project-description {
    margin-top: 1.5rem;
    font-size: 1rem;
  }
  .view-project-button {
    margin-top: -2rem;
    width: 11rem;
    padding: 1.5rem 1.5rem;
    font-size: 0.9rem;
  }
  .project-thumbnail {
    margin: 1.5rem;
    border-radius: 0 11.25rem 11.25rem 0;
    max-width: 14rem;
  }
  .project-thumbnail-1 {
    max-width: 14rem;
  }
  .project-col-2a {
    padding: 0rem 1.5rem 0rem 1.5rem;
  }
  .view-project-button-1 {
    top: 12rem;
    right: 1.5rem;
    width: 11rem;
    padding: 1.5rem 1.5rem;
    font-size: 0.9rem;
  }
  .stargray2 {
    left: 1.75rem;
    top: -7.25rem;
    width: 40%;
  }
  #htmlcsslan {
    width: 12%;
  }
  .tools {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-size: 120%;
    background-position: top;
    padding: 20rem 0 3.125rem;
  }
  .white-softwares {
    gap: 2rem;
  }
  .black-softwares {
    gap: 2rem;
  }
  .contact-section {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    background-size: 94%;
    padding-top: 8rem;
  }
  .contact-title {
    display: none;
  }
  .social-contact {
    margin-left: 2.5rem;
    gap: 2rem;
  }
  .social-media {
    font-size: 1rem;
  }
  .contact-line {
    margin-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .site-footer {
    padding: 1rem 0;
  }
  .footer-container {
    margin: 2rem 2.5rem;
    justify-content: space-between;
  }
}
@media (max-width: 64rem) and (min-width: 48.0625rem) {
  .navbar,
  .hero-content,
  .featured,
  .project,
  .contact-line,
  .social-contact {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .hero-content {
    gap: 1rem;
    flex-wrap: nowrap;
    margin-top: 5rem;
  }
  h1 {
    font-size: 2rem;
  }
  .hero-text {
    margin-right: -7rem;
  }
  .top-image {
    max-width: 60%;
  }
  .stargray {
    max-width: 70%;
    left: 4.75rem;
    top: 6.75rem;
  }
  .whitev {
    left: 8.6875rem;
    top: -1.0625rem;
    max-width: 36%;
  }
  .about {
    width: 44%;
    margin-right: 0rem;
  }
  .myphoto {
    margin-left: 5rem;
  }
  .multidicip {
    background-size: 105%;
    background-position: bottom;
  }
  .multitext1,
  .multitext2,
  .multitext3 {
    font-size: 2.5rem;
    -webkit-text-stroke: 0.07rem rgb(255, 255, 255);
  }
  .multitext3 {
    margin-left: 7.625rem;
  }
  .roots {
    margin-right: -4rem;
  }
  .multip {
    margin-top: 1rem;
    margin-left: -2.625rem;
  }
  .multifirst {
    align-items: flex-start;
  }
  .view-project-button {
    top: 18.3125rem;
  }
  .stargray2 {
    top: -9.25rem;
    width: 35%;
  }
  .tools {
    background-size: 105%;
  }
  .contact-section {
    margin-right: 4rem;
    background-size: 80%;
    align-items: center;
  }
  .contact-line {
    font-size: 3rem;
    margin-bottom: 0;
  }
  #contactsvg {
    max-height: 26rem;
  }
  .social-contact {
    gap: 5rem;
  }
  .site-footer {
    padding: 1.25rem 0;
  }
  .footer-container {
    margin: 3.75rem 4rem;
  }
}
